name: Sync to Hugging Face Hub

on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Add Hugging Face remote
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git remote add space https://icecoldkil:${HF_TOKEN}@huggingface.co/spaces/icecoldkil/demo1

      - name: Push to Hugging Face Space
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git push --force https://icecoldkil:${HF_TOKEN}@huggingface.co/spaces/icecoldkil/demo1 main

          
          
